.field {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.field > *:nth-child(1) {
  border-top: none;
  border-left: none;
}

.field > *:nth-child(2) {
  border-top: none;
}

.field > *:nth-child(3) {
  border-top: none;
  border-right: none;
}

.field > *:nth-child(4) {
  border-left: none;
}

.field > *:nth-child(6) {
  border-right: none;
}

.field > *:nth-child(7) {
  border-bottom: none;
  border-left: none;
}

.field > *:nth-child(8) {
  border-bottom: none;
}

.field > *:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

@media screen and (max-width: 340px) {
  .field {
    width: 150px;
    height: 150px;
  }
}